absl-py==2.1.0
aiohttp==3.11.13
alembic==1.15.1
attrs==25.1.0
colorlog==6.9.0
lightning==2.5.0.post0
lightning-utilities==0.13.1
matplotlib==3.10.1
numpy==2.2.3
optuna==4.2.1
optuna-integration==4.2.1
pandas==2.2.3
pytorch-lightning==2.5.0.post0
PyYAML==6.0.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
soundfile==0.13.1
SQLAlchemy==2.0.38
tensorboard==2.19.0
torchmetrics==1.6.2
tqdm==4.67.1
wfdb==4.2.0
